<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linhao.qrcode">


    <!-- 访问网络，进行地图相关业务数据请求，包括地图数据，路线规划，POI检索等 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态，根据网络状态切换进行数据请求网络转换 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application>
        <activity android:name="com.linhao.qrcode.pro.linhao.qrcode.zbar.CaptureActivity"/>
    </application>
</manifest>